body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;


}

.outer-container {

  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: rgb(138, 138, 238);
}

.active {
  color: rgb(255, 111, 0);
}

/* header */

header {
  /* flex-basis: 100%; */
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.logo img {
  width:5rem;
  height: 5rem;
  border-radius: 100%;

}

button {
  border: none;
  font-size: small;
  background-color: #4caf50;
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
}

button:hover {
  background-color: #f1a74c;
}



/* main conatiner */
.main-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  row-gap: 2rem;
  /* padding: 10rem; */
  background-color: bisque;


}

.category {

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
    /* background-color: black; */
  padding: 0 5rem 2rem 5rem;
  /* overflow-x: scroll;
    overflow-y: hidden; */


}

.category-name {
  /* text-align: center; */
  font-size: x-large;
  padding: 1rem;
  border-bottom: 2px solid;

}

.container {

  display: flex;
 
  column-gap: 2rem;
  row-gap: 2rem;
  /* justify-content: center; */

}

.product {

  display: flex;
  flex-direction: column;
  flex-basis: 20rem;
  background-color: rgb(37, 220, 220);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgb(88, 101, 102);
  text-align: center;

}

.price-rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 12px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.description {
  font-size: 15px;
  overflow: hidden;
}

.rating {

  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  column-gap: 0.1rem;
  padding: 0.5rem;
  border-radius: 100%;
  flex-basis: 100px;
  background-color: rgb(211, 237, 250);

}

.rate {

  display: flex;

  justify-content: center;
  align-items: center;
  column-gap: 0.1rem;
  padding-right: 0.5rem;
  border-right: 2px solid black;

}


img {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;

}



/* .buy-cart-div {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: large;
  padding: 1rem;
} */

/* .buy-cart-div button {

  border: none;
  padding: 1rem;
  background-color: rgb(127, 255, 140);
  border-radius: 1rem;
  flex-basis: 100%;

  text-align: center;

} */

/* .buy-cart-div button:hover {
  background-color: rgb(230, 100, 146);
} */




/* footer */


footer {

  flex-grow: 1;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 2rem;

}



.footer-icons {

  display: flex;
  flex-direction: column;
  row-gap: 20px;


}

ul {
  list-style-type: none;
}



.footer-corner-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer-services {
  display: flex;

}



a:hover {
  color: rgb(255, 0, 200);
}

/* loader */
 
.loader-container {
  padding: 10rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* media query */


@media (max-width: 1200px) {

  /* Header */
  header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .container {

    display: flex;
   flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    /* justify-content: center; */
  
  }
  
  .logo img {
    width:3rem;
    height: 3rem;
    border-radius: 100%;
  
  }

  .search-container {
    /* flex-basis: 100%; */
    margin-bottom: 1rem;
  }

  .search-input {
    flex-basis: 50%;
  }

  .ul-div ul {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0;
  }

  .ul-div ul li {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .cart {
    column-gap: 1rem;
  }

  /* Main container */
  .main-container {
    padding: 2rem;
  }

  .category-name {
    text-align: center;
  }

  .mens-cloth-container,
  .jewelery-container,
  .electronics-container,
  .womens-cloth-container {
    justify-content: center;
  }

  .product {
    flex-basis: 100%;
  }

  /* Footer */
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-icons,
  .footer-services {
    margin-bottom: 1rem;
  }

  .footer-services ul {
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }

  .footer-services ul li {
    margin-bottom: 0.5rem;
  }

  .footer-icons {
    flex-direction: row;
    column-gap: 10px;
  }
}


/* loader */




@media (max-width: 480px) {

  /* Header */
  .hamburger {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .hamburger button {
    padding: 0.5rem;
  }

  .ul-div ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .ul-div ul li {
    margin-bottom: 1rem;
  }

  /* Main container */
  .category {
    padding: 0 1rem 2rem 1rem;
  }

  .category-name {
    font-size: large;
  }

  .product {
    padding: 0.5rem;
  }

  .product-details {
    font-size: small;
  }

  .buy-cart-div button {
    padding: 0.5rem;
  }

  /* Footer */
  .footer-icons,
  .footer-services {
    flex-direction: row;
    justify-content: center;
  }

  .footer-services ul {
    flex-direction: row;
  }

  .footer-services ul li {
    margin-right: 1rem;
  }

  /* Main container */
  .category {
    padding: 0 1rem 2rem 1rem;
  }

  .category-name {
    font-size: large;
  }

  .product {
    padding: 0.5rem;
  }

  .product-details {
    font-size: small;
  }

  .buy-cart-div button {
    padding: 0.5rem;
  }

  /* Footer */
  .footer-services ul {
    flex-direction: row;
    justify-content: center;
  }

  .footer-services ul li {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
}