* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.signup button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup button:hover {
  background-color: #45a049;
}

.main-container {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  max-width: 400px;
}

h1 {
  margin-top: 0;
  font-size: 28px;
  color: #333;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

button.signup-btn,
button.login-btn {
  width: 100%;
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

button.signup-btn:hover,
button.login-btn:hover {
  background-color: #45a049;
}

#success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.attribution a {
  color: #333;
  text-decoration: none;
}
.agree-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive CSS */

@media only screen and (max-width: 600px) {
  .logo img {
    width: 3rem;
    height: 3rem;
  }

  .signup button {
    font-size: 14px;
    padding: 6px 12px;
  }

  h1 {
    font-size: 24px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="checkbox"] {
    font-size: 14px;
  }

  button.signup-btn,
  button.login-btn {
    padding: 10px 16px;
    font-size: 16px;
  }
}
